<!DOCTYPE html>
<html style="height: 100%;" lang="en">
<head>
    <style>*{margin: 0; padding: 0;}</style>
    <%-include('./component/head')%>
</head>
<body style="font-family: 'Poppins';background-color: #7e7e7e;height: 100%;display: flex;justify-content: center;align-items: center;">
<div style="text-align:-webkit-center;">
<h1 style="color:white;padding: 10px;">404!</h1>
<h1 style="color:white;padding-bottom: 10px;">The page you were looking for was not found!</h1>
<div style="background: #D10024;color: white;width: 200px;padding: 12px;border-radius: 15px;font-weight: 500;cursor: pointer;" onClick="onClick()">Go Back</div>
</div>
</body>
<script>
function onClick(){
window.location.href = '/'
}
</script>
</html>