* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-weight: bold;
}

body {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

i {
  font-size: 16px;
  color: black;
}

.top-info {
  width: 100%;
  height: 30px;
  background-color: #D10024;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

.top-info-left ul {
  display: flex;

}

.top-info-left ul li :first-child {
  margin-right: 10px;
}

.top-info-right {
  width: 790px;
  display: flex;
  justify-content: right;
}

.top-info-right ul li a :first-child {
  margin-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  border-bottom: solid #D10024 5px;
}

.brand-logo {
  font-size: 34px;
}

.search-box {
  display: flex;
  max-width: 450px;
}

.search-input{
  max-width: 350px;
  height: 50px;
  background: #D9D9D9;
  display: flex;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.search-input input{
  border: none;
  background: transparent;
  outline: none;
  max-width: 340px;
  font-size: 16px;
}

.results{
  position: absolute;
  top: 50px;
  width: 340px;
  background: #ffffff;
  z-index: 2;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  display: none;
}

.results ul li:hover{
  background: #ebebeb94;
}

.search-button {
  max-width: 150px;
  height: 50px;
  background: #D10024;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.search-button button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.user-cart {
  display: flex;
}

.user-cart a {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-cart a i {
  font-size: 20px;
}

.side-keeper {
  position: relative;
  display: flex;
}

.left-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  background: white;
  box-shadow: 10px 3px 5px -2px #88888840;
  z-index: 0;
}

.left-menu p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  font-weight: 700;
  font-family: 'Poppins';
  font-size: 23px;
  color: #D10024;
}

.border {
  width: 100%;
  height: 5px;
  background-color: #D10024;
}

.left-menu li a {
  color: #D10024;
  font-family: 'Poppins';
  font-weight: 700;
  display: block;
  font-size: 18px;
}

.left-menu li {
  padding: 3px;
  list-style: none;
  display: inline-block;
  width: 200px;
}

.left-menu li i {
  margin-left: 17px;
  margin-right: 15px;
  width: 16px;
  font-size: 20px;
  color: #D10024;
}

.left-menu li:hover {
  background-color: #d8d8d8;
}

.opener {
  display: none;
}

.main {
  min-height: 500px;
  color: #FFFFFF;
  padding: 45px 0px 45px 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
}

.product-menu {
  min-height: 50px;
  background-color: #D10024;
  border-radius: 20px 20px 0px 0px;
  max-width: 700px;
  margin-bottom: 10px;
}

.product-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

.product-menu ul li {
  cursor: pointer;
}

.product-show {
  max-width: 700px
}

.product-search {
  display: flex;
  background: #d10024;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.product-search input {
  outline: none;
}

.product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: column;
  background-color: #bbbbbb;
  border-radius: 10px;
  margin-bottom: 20px;
}

.addNew {
  display: none;
}

.product-image {
  min-width: 200px;
  min-height: 130px
}

.image-images {
  display: flex;
  flex-wrap: wrap;
}

.image-image {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
}

.product-data {
  display: flex;
  flex-wrap: wrap;
}

.product-head {
  margin-right: 20px;
}

.product-price {
  margin-right: 20px;
}

.product-stock {
  margin-right: 25px;
}

.product-head input {
  outline: none;
}

.product-price input {
  max-width: 100px;
  outline: none;
}

.product-stock input {
  max-width: 100px;
  outline: none;
}

.product-info textarea {
  width: 300px;
  max-width: 680px;
  outline: none;
}

.button-keeper {
  display: flex;
  flex-wrap: wrap;
}

.save-button {
  width: 140px;
  height: 30px;
  background: #13ba1a;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px;
}

.save-button:hover {
  background: #09f014;
}

.delete-button {
  width: 140px;
  height: 30px;
  background: #d10024;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.delete-button:hover {
  background: #ff002b;
}

footer {
  background-color: #D10024;
  color: white;
}

.footer-info {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.about {
  text-align: left;
  padding-bottom: 10px;
}

.about h1 {
  text-indent: 8px;
}

.about p {
  width: 300px;
}

.contact {
  text-align: left;
  text-indent: 4px;
  padding-bottom: 10px;
}

.contact p {
  display: inline-flex;
}

.follow-us {
  text-align: left;
  text-indent: 8px;
}

.follow-us a {
  padding-right: 4px;
}

.copyright {
  text-align: center;
  font-weight: bold;
}


@media only screen and (min-width: 1200px) {

  .search-input {
    width: 350px;
  }

  .results{
    width: 340px;
  }

  .search-box {
    width: 450px;
  }

}


@media only screen and (max-width: 1200px) {
  .results{
    width: 248px;
  }

  .top-info {
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 50px;
  }

  .top-info-left {
    margin-left: 10px;
  }

  .top-info-right {
    width: fit-content;
    display: flex;
    justify-content: right;
    margin-right: 10px;
    margin-left: 10px;
  }

  .navbar {
    flex-direction: column;
    min-height: 100px;
    justify-content: space-between;
    padding: 20px;
  }

  .brand-logo,
  .search-box {
    margin-bottom: 20px;
  }

  .brand-logo {
    margin-left: 10px;
  }

  .user-cart {
    margin-right: 10px;
  }

}

@media only screen and (min-width: 375px) {
  .search-button {
    width: 100px;
  }
}

@media screen and (max-width: 350px) {
  .top-info-left ul {
    flex-direction: column;
  }

  .top-info {
    min-height: 60px;
  }


}

/*
Mobile
*/

@media only screen and (max-width: 700px) {

  .main {
    margin: 20px;
    padding-top: 45px;
    height: auto;
  }

  .footer-info {
    flex-direction: column;
  }

  .opener {
    height: 51px;
    display: block;
    cursor: pointer;
    background: white;
    padding: 8px;
    position: absolute;
    border-right: solid 5px #D10024;
    border-bottom: solid 5px #D10024;
    border-radius: 0 0 10px 0;
    color: #D10024;
    font-weight: bold;
    font-family: poppins;
    left: 0px;
  }

  .left-menu {
    height: 100%;
    position: absolute;
    display: none;
  }

  .left-menu.active {
    display: flex;
  }

  .product-info textarea {
    max-width: max-content;
    width: 100%;
  }

}