<aside class="left-menu">
    <p>Panel Menu</p>
    <span class="border"></span>
    <ul style="text-align: left;">
        <li>
            <a href="account"><i class="fa-solid fa-user"></i>Account</a>
        </li>
        <li>
            <a href="products"><i class="fa-solid fa-boxes-stacked"></i>Products</a>
        </li>
        <li>
            <a href="orders"><i class="fa-solid fa-truck-fast"></i>Orders</a>
        </li>
        <li>
            <a href="shopsettings"><i class="fa-solid fa-gears"></i>Shop</a>
        </li>
        <li>
            <a href="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
        </li>
    </ul>
</aside>