<div class="top-info">
    <div class="top-info-left">
        <ul>
            <li>
                <a href="tel:<%=shopconfig.shopphone%>"><i class="fa-solid fa-phone"></i><%=shopconfig.shopphone%></a>
            </li>
            <li>
                <a href="mailto:<%=shopconfig.shopmail%>"><i class="fa-solid fa-envelope"></i><%=shopconfig.shopmail%></a>
            </li>
        </ul>
    </div>
    <div class="top-info-right">
        <ul>
            <li>
                <a href="/account"><i class="fa-solid fa-user"></i>Account</a>
            </li>
        </ul>
    </div>
</div>